.content {
  min-height: calc(100vh - 10%);
  display: flex;
  align-items: center;

  .bg-light {
    position: relative;
    top: 6vh;
    width: 80vw;
    height: auto;
    margin: auto;
    background-color: darken($clr-light, 28%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    box-shadow: 0px 1px 20px 2px darken($clr-primary, 4%);

    img {
      position: relative;
      margin-top: -2em;
      max-width: 240px;
      height: auto;
      border-radius: 2px;
      box-shadow: 0px 1px 10px 1px darken($clr-light, 43%);
    }

    .about-texts {
      max-width: 90%;
      margin: 0 auto 0.65em;
      display: grid;
      grid-gap: 0.65em;

      p {
        color: $clr-dark;
      }
    }

    @include media-md {
      flex-direction: row;
      justify-content: center;
      padding: 1rem;
      padding-left: 2.2rem;

      img {
        margin-top: -12.8em;
      }

      .about-texts {
        padding: 2em;
      }
    }

    @include media-lg {
      width: 65vw;

      img {
        margin-top: -7.8em;
      }
    }

    @include media-xl {
      width: 50vw;

      img {
        transform: translateY(-7.8em);
        margin-top: -15em;
      }

      p {
        font-size: 1.25rem;
      }
    }
  }
}
