.content-contact-page {
  flex-direction: column;
  justify-content: center;

  @include media-lg {
    padding-top: 3%;
  }

  .contact-texts {
    max-width: 260px;
    width: 65vw;
    padding-top: 2rem;
    margin-bottom: 1rem;

    @include media-lg {
      max-width: 80vw;
      margin-bottom: 2.5rem;

      p {
        font-size: 2vw;
      }
    }
  }
}
