@import "../styles/global.scss";
@import "../styles/media-queries.scss";
@import "../styles/index-page.scss";
@import "../styles/about-page.scss";
@import "../styles/contact-page.scss";
@import "../styles/title-text.scss";
@import "../styles/hamburger.scss";
@import "../styles/menu.scss";
@import "../styles/form.scss";
@import "../styles/footer.scss";

.container {
  margin: auto;
  max-width: 100vw;
  height: 100vh;
}
